node_modules
build
npm-debug.log
.env
._env
_docker-compose.yml
k8s/aula
k8s/testes
uploads
env-config-scheduler.env
env-config-scheduler-auth.env
env-config-scheduler-requisition.env
env-config-scheduler-inventory.env
env-config-scheduler-events.env